body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
body h2 {
  color: #777777;
  letter-spacing: 1px;
  font-size: medium;
  font-family: "Archivo", Arial;
}
body h1 {
  font-family: "Old Standard TT", Arial;
}
body h3 {
  font-family: "Roboto", Arial;
}
body p {
  font-family: "Roboto", Arial;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  body {
    font-family: "Archivo", Arial;
  }
  body h2 {
    color: #777777;
    letter-spacing: 1px;
    font-size: medium;
    font-family: "Archivo", Arial;
  }
  body h1 {
    font-family: "Old Standard TT", Arial;
  }
  body h3 {
    font-family: "Roboto", Arial;
  }
  html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    background-color: #333333;
    height: 300px;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 320px;
    height: 100%;
    margin: auto;
  }
  .header__title {
    color: white;
    margin-bottom: 25px;
  }
  .header__title h2 {
    letter-spacing: 1px;
    font-size: small;
    font-family: "Archivo", Arial;
  }
  .header__subtitle {
    margin-bottom: 55px;
    color: white;
  }
  .header__subtitle h1 {
    font-size: 56px;
    font-weight: lighter;
    font-family: "Old Standard TT", Arial;
  }
  .header__titledescription {
    display: flex;
    justify-content: right;
    font-size: smaller;
    font-family: "Roboto", Arial;
    color: black;
  }
  .header__titledescription-box {
    display: flex;
    padding: 0px 15px;
    height: 35px;
    background-color: white;
    align-items: center;
  }
  .header__titledescription-color {
    color: #bead8e;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    align-items: center;
    background-image: url("../../assets/images/imgfondo.png");
  }
  .footer__content {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    max-width: 320px;
    align-items: center;
  }
  .footer__logo {
    display: flex;
    flex-direction: row;
  }
  .footer__logo--figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bead8e;
    width: 60px;
    height: 60px;
  }
  .footer__uppertext {
    color: #777777;
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: justify;
  }
  .footer__uppertext p {
    font-size: small;
    font-family: "Roboto", Arial;
  }
  .footer__redes {
    display: flex;
    flex-direction: row;
  }
  .footer__redes--link {
    text-decoration: none;
    color: #777777;
    margin-right: 25px;
  }
  .footer__redes--back {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    background-color: #bead8e;
  }
  .footer__redes--twitter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #bead8e;
  }
  .footer__services {
    margin-top: 25px;
  }
  .footer__services--title {
    font-family: "Old Standard TT", Arial;
  }
  .footer__services--list {
    display: inline-flex;
  }
  .footer__services--list #list2 {
    margin-left: 35px;
  }
  .footer__services--list ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto", Arial;
    font-weight: lighter;
    font-size: small;
  }
  .footer__services--list ul li::before {
    content: "+ ";
  }
  .footer__services--list li {
    margin-top: 25px;
  }
  .footer__contactus {
    margin-top: 25px;
  }
  .footer__contactus--title h1 {
    font-family: "Old Standard TT", Arial;
    font-weight: lighter;
  }
  .footer__contactus--card {
    display: inline-flex;
    align-items: center;
  }
  .footer__contactus--icon {
    color: #bead8e;
  }
  .footer__contactus--description {
    margin: 25px 0px 25px 25px;
  }
  .footer__contactus--description h1 {
    font-family: "Old Standard TT", Arial;
    font-weight: lighter;
  }
  .footer__contactus--description h3 {
    font-family: "Roboto", Arial;
    font-size: small;
    color: #777777;
  }
  .footer__copyright {
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright--content {
    max-width: 320px;
    width: 100%;
    margin: auto;
    align-items: center;
  }
  .footer__copyright--content #margin {
    margin-bottom: 25px;
  }
  .footer__copyright--content h3 {
    font-size: small;
  }
}
@media only screen and (min-width: 1000px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("../../assets/images/imgfondo.png");
  }
  .footer__content {
    padding-top: 55px;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .footer__content-section1 {
    width: 33%;
  }
  .footer__uppertext p {
    margin: 25px 0px;
    font-size: small;
    font-weight: lighter;
    text-align: left;
    width: 250px;
  }
  .footer__services {
    margin-top: 0px;
    margin-left: 105px;
    width: 33%;
    display: flex;
    flex-direction: column;
  }
  .footer__services--list {
    width: 100%;
  }
  .footer__contactus {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 105px;
    width: 33%;
  }
  .footer__contactus--description {
    margin: 10px 0px 10px 0px;
  }
  .footer__copyright--content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__copyright--content #margin {
    margin: 0px;
  }
  .footer__logo {
    display: flex;
    width: 100%;
  }
  .footer__logo--figure {
    font-family: "Archivo", Arial;
    font-size: 25px;
    color: white;
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #bead8e;
    box-shadow: 0px 0px 8px #777777;
  }
  .footer__redes {
    display: flex;
    flex-direction: row;
  }
  .footer__redes--link {
    text-decoration: none;
    color: #777777;
    margin-right: 25px;
  }
  .footer__redes--back {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    background-color: #bead8e;
  }
  .footer__redes--twitter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #bead8e;
  }
  .footer__services--title {
    font-family: "Old Standard TT", Arial;
  }
  .footer__services--list {
    display: inline-flex;
  }
  .footer__services--list #list2 {
    margin-left: 35px;
  }
  .footer__services--list ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto", Arial;
    font-weight: lighter;
    font-size: small;
  }
  .footer__services--list ul li::before {
    content: "+ ";
  }
  .footer__services--list li {
    margin-top: 25px;
  }
  .footer__contactus--title h1 {
    font-family: "Old Standard TT", Arial;
    font-weight: lighter;
  }
  .footer__contactus--card {
    display: inline-flex;
    align-items: center;
  }
  .footer__contactus--icon {
    color: #bead8e;
  }
  .footer__contactus--description {
    margin: 25px 0px 25px 25px;
  }
  .footer__contactus--description h1 {
    font-family: "Old Standard TT", Arial;
    font-weight: lighter;
  }
  .footer__contactus--description h3 {
    font-family: "Roboto", Arial;
    font-size: small;
    color: #777777;
  }
  .footer__copyright {
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    align-items: center;
  }
  .footer__copyright--content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__copyright--content h3 {
    font-size: small;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    max-width: 320px;
    align-items: center;
  }
  .navbar__content {
    max-width: 320px;
    width: 90%;
    margin: auto;
  }
  .navbar__content-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar__toggle {
    width: 15%;
    font-size: 25px;
  }
  .navbar__toggle--user {
    font-size: 25px;
    margin: auto;
  }
  .navbar__toggle--search {
    font-size: 25px;
  }
  .navbar__title {
    width: 35%;
    margin: 10px;
  }
  .navbar__title--strong {
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .navbar__title--thin {
    letter-spacing: 2px;
    font-weight: lighter;
  }
  .navbar__square {
    width: 15%;
  }
  .navbar__square--figure {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 14px 8px #f0eeee;
  }
  .navbar__usersearch {
    width: 35%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar__letter {
    font-weight: bold;
  }
  .navbar__nav {
    display: none;
  }
  h1 {
    font-family: "Archivo", Arial;
    font-size: 24px;
  }
  h2 {
    font-family: "Old Standard TT", Arial;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    width: 100%;
    background-color: black;
  }
  .navbar__content {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 120px;
    position: relative;
  }
  .navbar__content-menu {
    background-color: white;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar__nav {
    width: 100%;
    font-size: small;
    color: black;
  }
  .navbar__nav a {
    color: black;
    text-decoration: none;
  }
  .navbar__nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navbar__nav ul li {
    list-style: none;
  }
  .navbar__toggle {
    width: 25%;
    display: none;
  }
  .navbar__toggle--user {
    width: 35px;
    height: 35px;
    border: solid 1px rgb(233, 233, 233);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .navbar__toggle--search {
    width: 35px;
    height: 35px;
    border: solid 1px rgb(233, 233, 233);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar__title {
    width: 45%;
    margin-left: 15px;
    font-family: "Archivo", Arial;
  }
  .navbar__title--strong {
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .navbar__title--thin {
    font-size: x-large;
    letter-spacing: 2px;
    font-weight: lighter;
  }
  .navbar__square {
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 15px;
  }
  .navbar__square--figure {
    width: 100%;
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 14px 8px #f0eeee;
  }
  .navbar__usersearch {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .navbar__letter {
    font-size: xx-large;
    font-family: "Archivo", Arial;
    font-weight: bolder;
  }
  h1 {
    font-family: "Archivo", Arial;
    font-size: 24px;
  }
  h2 {
    font-family: "Old Standard TT", Arial;
  }
}
@media only screen and (min-width: 1000px) {
  .header {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
  }
  .header__content {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    padding: 75px 75px 0px;
  }
  .header__title {
    font-size: small;
    width: 90%;
    margin: 75px 0px 25px 0px;
  }
  .header__subtitle {
    max-width: 370px;
    margin-bottom: 75px;
  }
  .header__subtitle h1 {
    font-weight: lighter;
    font-size: 56px;
    font-family: "Old Standard TT", Arial;
  }
  .header__titledescription {
    display: flex;
    justify-content: flex-end;
  }
  .header__titledescription-box {
    color: black;
    padding: 15px;
    background-color: #ffffff;
  }
  .header__titledescription-color {
    color: #bead8e;
  }
  .video {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .video__content {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 45px 75px 0px 75px;
  }
  .video__content img {
    max-width: 1024px;
  }
  .video__description {
    margin-top: 45px;
  }
  .video__description h1 {
    text-align: center;
    font-size: 46px;
    font-weight: lighter;
  }
  .services {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .services__content {
    margin: 65px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1024px;
    justify-content: space-evenly;
  }
  .restaurant {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .restaurant__content {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .restaurant__content-image {
    min-width: 50%;
    text-align: right;
  }
  .restaurant__content-description {
    min-width: 50%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }
  .restaurant__image img {
    width: 375px;
  }
  .restaurant__title {
    margin-bottom: 25px;
  }
  .restaurant__subtitle {
    width: 350px;
  }
  .restaurant__description h3 {
    font-weight: lighter;
    font-size: small;
    width: 500px;
  }
  .facilities__about {
    padding-bottom: 75px;
    background-color: #222222;
  }
  .facilities__subtitle-about {
    color: white;
  }
  .facilities__content-cardmobileabout {
    padding-left: 35px;
    width: 100%;
    background-color: #292929;
    height: 100%;
    color: white;
  }
  .facilities__content-cardmobileabout #img2 {
    filter: contrast(100);
  }
  .facilities__content-cardabout {
    color: white;
    height: 300px;
    padding-left: 35px;
    min-width: 100%;
    background-color: #292929;
  }
  .facilities__content-cardabout #img2 {
    filter: contrast(100);
  }
  .counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .counter__content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .counter__content-title {
    width: 100%;
    text-align: left;
    margin-top: 75px;
  }
  .counter__content-subtitle {
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .counter__content-subtitle h1 {
    font-size: 56px;
    font-weight: lighter;
  }
  .counter__content-imagebottom #points {
    display: none;
  }
  .counter__contentnumbers {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 45px 0px 75px 0px;
  }
  .counter__contentnumbers-order {
    display: flex;
    flex-direction: row;
  }
  .counternumbers-number {
    margin: 0px 10px 0px 25px;
  }
  .counternumbers-number h1 {
    font-size: 46px;
  }
  .counternumbers-number h3 {
    font-size: small;
    color: #777777;
    font-weight: lighter;
  }
}
@media screen and (max-width: 1000px) {
  .video {
    width: 100%;
  }
  .video__content {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
  }
  .video__description {
    margin-top: 25px;
    text-align: center;
  }
  .services {
    width: 100%;
  }
  .services__content {
    max-width: 320px;
    margin: auto;
    margin-top: 55px;
  }
  .restaurant {
    width: 100%;
  }
  .restaurant__content {
    max-width: 320px;
    margin: auto;
  }
  .restaurant__title {
    margin: 25px 0px;
    color: #777777;
  }
  .restaurant__title h2 {
    letter-spacing: 1px;
    font-size: small;
    font-family: "Archivo", Arial;
  }
  .restaurant__subtitle {
    margin: 25px 0px;
    color: #222222;
  }
  .restaurant__subtitle h1 {
    font-size: 35px;
    font-family: "Old Standard TT", Arial;
  }
  .restaurant__description {
    margin: 25px 0px;
    color: #777777;
  }
  .restaurant__description h3 {
    font-size: small;
  }
  .banner__button {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .facilities {
    width: 100%;
    height: 614px;
  }
  .facilities-about {
    background-color: #222222;
  }
  .facilities__content {
    max-width: 320px;
    margin: auto;
  }
  .facilities__subtitle-about {
    color: #ffffff;
  }
  .facilities__description {
    background-color: #292929;
    width: 100%;
    height: 370px;
  }
  .facilities__description-image1 {
    padding: 15px;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }
  .facilities__description-image2 {
    padding: 15px;
    width: 173px;
    height: 120px;
  }
  .facilities__description-title1 {
    margin: 25px 0px;
  }
  .facilities__description-title1 h1 {
    font-weight: lighter;
    color: white;
  }
  .facilities__description-txt {
    text-align: left;
  }
  .facilities__description-txt h3 {
    color: white;
    font-size: small;
    font-weight: lighter;
  }
  .facilities__description-images {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .facilities__description-image1content {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
  }
  .facilities__description-bottomcontent {
    margin: 15px;
    text-align: left;
  }
  .facilities__frame {
    margin-top: 25px;
  }
  .counter {
    width: 100%;
  }
  .counter__content {
    max-width: 320px;
    margin: auto;
  }
  .counter__content-title {
    color: #777777;
    margin: 25px 0px;
  }
  .counter__content-title h2 {
    letter-spacing: 1px;
    font-size: medium;
  }
  .counter__content-subtitle {
    margin: 35px 0px;
  }
  .counter__content-subtitle h1 {
    font-size: 55px;
    font-weight: lighter;
  }
  .counter__contentnumbers-order {
    margin: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .counter__contentnumbers-order h1 {
    font-size: 50px;
    font-weight: lighter;
  }
  .counter__contentnumbers-order h3 {
    font-size: small;
    color: #777777;
  }
  .counter__content-imagebottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .counter__content-imagebottom img {
    margin: 15px 0px;
  }
  .counter__content-imagebottom #imgmobile {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .room {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .room__content {
    margin-top: 75px;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }
  .room__content__card {
    height: 400px;
    width: 300px;
    position: relative;
  }
  .room__content__card img {
    width: 300px;
  }
  .room__content__card-offers {
    position: relative;
    background-color: white;
    height: 400px;
    max-width: 300px;
  }
  .room__content__card-offers img {
    width: 300px;
  }
  .room__content__card-offersdsktp {
    position: relative;
    background-color: white;
    height: 400px;
    max-width: 300px;
  }
  .room__content__card-offersdsktp img {
    width: 300px;
  }
  .room__content__card-valuepernight {
    display: flex;
    justify-content: center;
    font-family: "Archivo", Arial;
  }
  .room__content__card-value1 {
    color: #BEAD8E;
    margin-right: 10px;
  }
  .room__content__card-txt {
    color: #BDBDBD;
  }
  .room__content__card-title {
    text-align: center;
    margin-top: 25px;
  }
  .room__content__card-subtitle {
    text-align: center;
    font-size: small;
    margin-bottom: 15px;
  }
  .room__content__card-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 200px;
    position: absolute;
    background-color: white;
    bottom: 190px;
    left: 50px;
  }
  .room__content__card-iconsdsktp {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 200px;
    position: absolute;
    background-color: white;
    bottom: 190px;
    left: 50px;
  }
  .pagination {
    text-align: center;
    min-width: 100%;
    margin: 75px 0px 75px 0px;
  }
}
@media screen and (max-width: 1000px) {
  .room {
    width: 100%;
  }
  .room__content {
    max-width: 320px;
    margin: auto;
  }
  .room__content__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    margin-top: 25px;
  }
  .room__content__card-image img {
    max-width: 320px;
  }
  .room__content__card-offersdsktp {
    display: none;
  }
  .room__content__card-valuepernight {
    margin-bottom: 15px;
  }
  .room__content__card-value1 {
    color: #bead8e;
  }
  .room__content__card-title {
    margin-top: 25px;
  }
  .room__content__card-subtitle {
    margin: 25px 0px;
    text-align: center;
    color: #777777;
    font-size: small;
    font-weight: lighter;
  }
  .room__content__card-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: 157px;
  }
  .pagination__content {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 1000px) {
  .roomdetails {
    width: 100%;
  }
  .roomdetails__content {
    max-width: 320px;
    margin: auto;
  }
  .roomdetails__content img {
    margin-top: 25px;
  }
  .roomdetails__content-sec2 {
    display: none;
  }
  .roomdetails__title {
    color: #777777;
    margin-top: 25px;
  }
  .roomdetails__title h2 {
    font-size: medium;
    letter-spacing: 1px;
  }
  .roomdetails__subtitle {
    margin-top: 25px;
  }
  .roomdetails__subtitle h1 {
    font-size: 35px;
    font-weight: lighter;
  }
  .roomdetails__price {
    margin-top: 25px;
  }
  .availability {
    width: 100%;
  }
  .availability__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: auto;
  }
  .availability__content h3 {
    margin-top: 25px;
  }
  .availability__content-checkin h3 {
    font-size: small;
  }
  .availability__content-checkin input {
    width: 220px;
    background-color: #f8f8f8;
    border: none;
    height: 45px;
  }
  .availability__content-description p {
    margin-top: 25px;
    font-size: small;
    font-family: "Roboto", Arial;
  }
  .amenities {
    width: 100%;
  }
  .amenities__content {
    max-width: 320px;
    margin: auto;
  }
  .amenities__content-title {
    margin-top: 25px;
  }
  .amenities__content-services {
    display: inline-flex;
    border-top: solid 1px #f5eee0;
  }
  .amenities__content-services #list2 {
    margin-left: 35px;
  }
  .amenities__content-services i {
    color: #bdac8d;
  }
  .amenities__content-services li {
    margin-top: 25px;
  }
  .amenities__content-services ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto", Arial;
    font-weight: lighter;
    font-size: small;
  }
  .amenities__content-servicesoff {
    display: inline-flex;
    border-top: solid 1px #f5eee0;
  }
  .amenities__content-servicesoff #list2 {
    margin-left: 35px;
  }
  .amenities__content-servicesoff i {
    color: #bdac8d;
  }
  .amenities__content-servicesoff li {
    margin-top: 25px;
  }
  .amenities__content-servicesoff ul {
    list-style: none;
    padding: 0;
    font-family: "Roboto", Arial;
    font-weight: lighter;
    font-size: small;
  }
  .founder {
    width: 100%;
  }
  .founder__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 320px;
    text-align: center;
  }
  .founder__content-image {
    margin-top: 25px;
  }
  .founder__content-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: lighter;
  }
  .founder__content-subtitle {
    margin-bottom: 25px;
    color: #bdac8d;
    font-size: 10px;
  }
  .founder__content p {
    font-family: "Roboto", Arial;
    font-size: small;
  }
  .cancellation {
    width: 100%;
  }
  .cancellation__content {
    max-width: 320px;
    margin: auto;
  }
  .cancellation__content-title {
    margin-top: 75px;
  }
  .cancellation__content-description {
    border-top: solid 1px #f5eee0;
  }
  .cancellation__content-description p {
    margin-top: 25px;
    font-family: "Roboto", Arial;
    font-size: small;
  }
  .room__content__card-ttitle {
    margin-top: 75px;
    width: 100%;
    border-bottom: solid 1px #f5eee0;
  }
  .roomdetails__availability {
    display: none;
  }
  .room__content__carddsktp {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .roomdetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .roomdetails__content {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    width: 100%;
  }
  .roomdetails__content-title {
    position: absolute;
    background-color: white;
    width: 500px;
  }
  .roomdetails__content-sec1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .roomdetails__content-sec2 {
    width: 100%;
    margin-top: 25px;
    font-family: "Roboto", Arial;
    font-size: small;
  }
  .roomdetails__content-izq {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  .roomdetails__content img {
    width: 600px;
  }
  .roomdetails__subtitleprice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .minimal__price--value {
    font-size: 35px;
  }
  .minimal__price--night {
    font-size: 15px;
  }
  .roomdetails__availability-title {
    text-align: center;
  }
  .roomdetails__availability-checkin h3 {
    margin-top: 15px;
    font-family: "Roboto", Arial;
    font-size: small;
  }
  .roomdetails__availability-checkin input {
    width: 220px;
    background-color: #f8f8f8;
    border: none;
    height: 45px;
  }
  .availability {
    display: none;
  }
  .amenities {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .amenities__content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .amenities__content-title {
    margin: 100px 0px 35px 65px;
  }
  .amenities__content-servicesoff {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .amenities__content-servicesoff ul {
    margin-right: 25px;
    list-style: none;
  }
  .amenities__content-servicesoff ul li {
    margin-bottom: 15px;
  }
  .amenities__content-servicesoff ul i {
    color: #BEAD8E;
  }
  .amenities__content-services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .amenities__content-services ul {
    list-style: none;
  }
  .amenities__content-services ul i {
    color: #BEAD8E;
  }
  .founder {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .founder__content {
    max-width: 1024px;
    margin-top: 75px;
  }
  .founder__content-image {
    margin: 25px 0px 25px 0px;
  }
  .founder__content-subtitle {
    margin-bottom: 25px;
  }
  .founder__content-description {
    text-align: center;
  }
  .founder__content-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cancellation {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cancellation__content {
    max-width: 1024px;
  }
  .cancellation__content-title {
    margin-left: 75px;
    margin-top: 75px;
  }
  .cancellation__content-description {
    margin-left: 75px;
    width: 50%;
  }
  .room {
    width: 100%;
  }
  .room__content {
    padding-bottom: 125px;
  }
  .room__content__dsktp {
    position: relative;
  }
  .room__content__dsktp-ttitle {
    margin-bottom: 45px;
  }
  .room__content__dsktp-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 280px;
    right: 60px;
  }
  .relatedroomstitle {
    margin-top: 75px;
    max-width: 1024px;
    width: 100%;
    margin-left: 75px;
  }
}
@media only screen and (min-width: 1000px) {
  .offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers__content {
    max-width: 1024px;
    width: 100%;
  }
  .offers__content__card {
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 900px;
  }
  .offers__content__card img {
    width: 100%;
    padding: 0px 75px;
  }
  .offers__content__card-downsction {
    position: absolute;
    top: 390px;
    left: 130px;
  }
  .offers__content__card-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .offers__content__card-upcontent {
    background-color: white;
    border-top: solid #BEAD8E;
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
    padding: 45px;
  }
  .offers__content__card-prices {
    font-family: "Archivo", Arial;
  }
  .offers__content__card-price {
    text-decoration: line-through;
    color: #BEAD8E;
  }
  .offers__content__card-discount {
    font-size: larger;
    color: #DE5777;
  }
  .offers__content__card-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .offers__content__card-downcontent {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 45px;
  }
  .offers__content__card-description {
    width: 40em;
  }
  .offers__content__card-btnmobile {
    display: none;
  }
  .popular {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    align-items: center;
  }
  .popular__content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  .popular__content-title {
    text-align: center;
    margin: 45px 0px;
  }
  .popular__content-subtitle {
    text-align: center;
    color: #FFFFFF;
    font-size: 85px;
    font-weight: lighter;
  }
}
@media screen and (max-width: 1000px) {
  .offers {
    width: 100%;
  }
  .offers__content {
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .offers__content__card {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .offers__content__card-button {
    display: none;
  }
  .offers__content__card-img {
    position: relative;
  }
  .offers__content__card-img img {
    max-width: 320px;
  }
  .offers__content__card-characteristics {
    margin: 0px 15px;
  }
  .offers__content__card-title {
    margin-top: 25px;
  }
  .offers__content__card-price {
    color: #bead8e;
  }
  .offers__content__card-discount {
    font-weight: bolder;
    font-size: larger;
    color: #de5777;
    margin-bottom: 15px;
  }
  .offers__content__card-night {
    font-size: x-small;
  }
  .offers__content__card-prices {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 300px;
    padding-right: 15px;
  }
  .offers__content__card-subtitle {
    margin-top: 25px;
  }
  .offers__content__card-subtitle h1 {
    font-weight: lighter;
    font-size: 40px;
  }
  .offers__content__card-description {
    font-family: "Roboto", Arial;
    font-size: small;
  }
  .offers__content__card-description p {
    line-height: 2;
  }
  .popular {
    width: 100%;
    background-color: #222222;
    height: 600px;
  }
  .popular__content {
    max-width: 320px;
    margin: auto;
  }
  .popular__content-title {
    padding: 25px 0px;
    text-align: center;
  }
  .popular__content-subtitle {
    padding-bottom: 25px;
    color: white;
    text-align: center;
    font-weight: lighter;
  }
  .room__content__card {
    background-color: white;
  }
  .room__content__card-iconsdsktp {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .contact {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact__container {
    max-width: 1024px;
    display: flex;
  }
  .contact__container-numberback {
    text-align: right;
  }
  .contact__container-numberback p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(243, 242, 242);
    font-size: 200px;
  }
  .contact__container-icon {
    margin-right: 35px;
  }
  .contact__container-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 85px;
  }
  .contact__container-text {
    display: flex;
    flex-direction: column;
  }
  .contact__container-text h1 {
    margin-bottom: 25px;
  }
  .contact__container-text h3 {
    font-size: medium;
    font-weight: 400;
    font-family: "Roboto", Arial;
  }
  .contact__container__card {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 300px;
    position: relative;
  }
  .form {
    width: 100%;
  }
  .form__container {
    max-width: 1024px;
    margin: auto;
    margin-bottom: 45px;
  }
  .form__container img {
    width: 100%;
    max-width: 1024px;
  }
  .form__container__form {
    margin-top: 75px;
    position: relative;
    text-align: center;
  }
  .form__container__form-datos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .form__container__form input {
    padding-left: 30px;
    margin-bottom: 20px;
    width: 300px;
    height: 45px;
    border: none;
    background-color: rgb(243, 243, 243);
  }
  .form__container__form-inputcontainer i {
    color: #BEAD8E;
    position: absolute;
    margin-left: 5px;
    margin-top: 15px;
  }
  .form__container__form textarea {
    background-color: #F8F8F8;
  }
  .text-up {
    font-family: "Roboto", Arial;
    min-width: 820px;
    min-height: 200px;
    padding-left: 30px;
    padding-top: 15px;
    border: none;
    resize: none;
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    width: 100%;
  }
  .contact__container {
    max-width: 320px;
    margin: auto;
  }
  .contact__container-numberback {
    text-align: right;
  }
  .contact__container-numberback p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(243, 242, 242);
    font-size: 200px;
  }
  .contact__container-icon {
    margin-right: 35px;
  }
  .contact__container-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 85px;
  }
  .contact__container-text {
    display: flex;
    flex-direction: column;
  }
  .contact__container-text h1 {
    margin-bottom: 25px;
  }
  .contact__container-text h3 {
    font-size: medium;
    font-weight: 400;
    font-family: "Roboto", Arial;
  }
  .contact__container .contact__container__card {
    position: relative;
  }
  .form {
    width: 100%;
  }
  .form__container {
    max-width: 320px;
    margin: auto;
    margin-bottom: 45px;
  }
  .form__container img {
    max-width: 320px;
  }
  .form__container__form {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .form__container__form input {
    padding-left: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: rgb(243, 243, 243);
  }
  .form__container__form-inputcontainer i {
    color: #BEAD8E;
    position: absolute;
    margin-left: 5px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    width: 100%;
    background-image: url("../../assets/images/banner1.jpg");
    background-position: center;
    background-size: cover;
  }
  .banner__content {
    width: 90%;
    margin: auto;
    max-width: 320px;
    padding: 35px 0px 35px 13px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
  }
  .banner__title {
    width: 60%;
    margin: 25px 0px 25px 0px;
  }
  .banner__title--ppal {
    letter-spacing: 1px;
    margin: 15% 0% 15% 0%;
  }
  .banner__subtitle {
    font-size: 50px;
    font-family: "Old Standard TT", Arial;
  }
  .banner__subtitle--txt {
    margin: auto;
  }
  .banner__button {
    color: #ffffff;
    background-color: #bead8e;
    width: 217px;
    height: 60px;
    margin: 10px 0px 10px 0px;
  }
  .banner__button--lm {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.3294117647);
  }
  .banner__button--ca {
    margin-top: 35px;
    border: none;
  }
}
@media only screen and (min-width: 1000px) {
  .banner {
    width: 100%;
    background-image: url("../../assets/images/banner1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  .banner__content {
    max-width: 1024px;
    width: 100%;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    padding: 75px;
  }
  .banner__title {
    font-size: small;
    width: 90%;
    margin: 75px 0px 25px 0px;
  }
  .banner__title--ppal {
    font-family: "Archivo", Arial;
    letter-spacing: 1px;
    margin: 15% 0% 15% 0%;
  }
  .banner__subtitle {
    max-width: 370px;
    font-size: 56px;
    font-family: "Old Standard TT", Arial;
  }
  .banner__subtitle--txt {
    margin: auto;
  }
  .banner__buttons {
    display: inline-flex;
  }
  .banner__button {
    color: #ffffff;
    background-color: #bead8e;
    width: 217px;
    height: 60px;
    margin: 10px 15px 10px 0px;
  }
  .banner__button--lm {
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.3294117647);
  }
  .banner__button--ca {
    margin-top: 35px;
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .dates {
    background-color: #222222;
    width: 100%;
  }
  .dates input {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bead8e;
    color: #9c9b9a;
  }
  .dates__content {
    width: 90%;
    max-width: 320px;
    margin: auto;
    padding: 25px 0px 35px 0px;
    font-family: "Roboto", Arial;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .dates__content-arrival {
    margin-right: 25px;
    width: 50%;
  }
  .dates__content-departure {
    width: 50%;
    margin-top: 25px;
  }
  .dates__content input {
    margin-top: 25px;
    width: 100%;
  }
  .dates__txt {
    margin: 15px 0px 15px 0px;
  }
}
@media screen and (min-width: 1000px) {
  .dates {
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .dates input {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bead8e;
    color: #9c9b9a;
  }
  .dates__content {
    max-width: 1024px;
    padding: 25px 25px 35px 75px;
    font-family: "Roboto", Arial;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .dates__content-departure {
    width: 550px;
    margin-top: 0%;
  }
  .dates__content-arrival {
    width: 550px;
  }
  .dates__content input {
    width: 100%;
  }
  .dates__content-button {
    text-align: right;
    width: 100%;
    padding: 0px 0px 25px 25px;
  }
  .dates__txt {
    margin: 15px 0px 15px 0px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    position: relative;
    margin-top: 45px;
    width: 100%;
    height: 600px;
    padding-top: 25px;
    background-color: #f9f9f9;
  }
  .about__content {
    width: 90%;
    margin: auto;
    max-width: 320px;
  }
  .about__content p {
    font-size: small;
    font-weight: lighter;
    color: #777777;
  }
  .strongteam {
    width: 100%;
  }
  .strongteam__content {
    position: relative;
    top: -50px;
    left: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    max-width: 320px;
  }
  .strongteam__content p {
    font-size: small;
    font-weight: lighter;
    color: #777777;
  }
  .strongteam__box1 {
    background-color: #e4e4e4;
    height: 300px;
    width: -webkit-fill-available;
  }
  .strongteam__box1 img {
    width: 270px;
    height: 300px;
  }
  .strongteam__box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 25% 0%;
  }
  .strongteam__box2--imgcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .strongteam__box2--imgcontent img {
    width: 40px;
    margin: 0% 0% 20% 0%;
  }
  .strongteam__box2--imgcontent span {
    font-family: "Old Standard TT", Arial;
    font-size: 25px;
  }
  .strongteam__box2--txtcontent {
    text-align: center;
    margin: 10% 25% 0% 25%;
  }
  .strongteam__box2--contentblk {
    background-color: #222222;
    color: white;
    padding: 25% 0%;
  }
}
@media screen and (min-width: 1000px) {
  .about__section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  .about {
    position: relative;
    padding: 0%;
    margin-top: 0%;
    background-color: transparent;
  }
  .about__main {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row-reverse;
  }
  .banner__subtitle {
    display: flex;
  }
  .banner__subtitle--txt {
    margin: 0px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
  }
  .about__content-back {
    width: 100%;
    padding-left: 100px;
    padding-bottom: 150px;
    background-color: #f9f9f9;
  }
  .about__content-back p {
    max-width: 400px;
    font-size: small;
  }
  .about__content-title {
    padding-left: 100px;
  }
  .strongteam {
    min-width: 612px;
    z-index: 100;
  }
  .strongteam__content {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: revert;
    margin-left: 75px;
  }
  .strongteam__content-st {
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: right;
  }
  .strongteam__content-lr {
    width: 100%;
    display: inline-flex;
    justify-content: right;
  }
  .strongteam__box1 {
    max-width: 270px;
    max-height: 300px;
  }
  .strongteam__box1 img {
    width: 270px;
    height: 300px;
  }
  .strongteam__box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 25% 0%;
    width: 270px;
    max-height: 300px;
    padding: 0px;
  }
  .strongteam__box2--contentblk {
    background-color: #222222;
    color: white;
    width: 270px;
    height: 300px;
    padding: 0%;
    margin: 15px 0px 0px 15px;
  }
  .strongteam__box2--contentblk span {
    font-family: "Old Standard TT", Arial;
    font-size: 25px;
  }
  .strongteam__box2--contentblk img {
    width: 40px;
    margin: 0% 0% 10% 0%;
  }
  .strongteam__box2--imgcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .strongteam__box2 img {
    width: 40px;
    margin: 0% 0% 20% 0%;
  }
  .strongteam__box2 span {
    font-family: "Old Standard TT", Arial;
    font-size: 25px;
  }
  .strongteam__box2--txtcontent {
    text-align: center;
    margin: 10% 25% 0% 25%;
  }
}
@media screen and (max-width: 1000px) {
  .rooms {
    width: 100%;
    height: 800px;
  }
  .rooms h1 {
    font-family: "Old Standard TT", Arial;
    font-size: 45px;
    font-weight: lighter;
  }
  .rooms h3 {
    color: #777777;
    letter-spacing: 1px;
    font-family: "Archivo", Arial;
  }
  .rooms__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    max-width: 320px;
  }
  .rooms__title {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15% 0% 5% 0%;
  }
  .rooms__title--subtitle {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .rooms__icons {
    position: absolute;
    top: 220px;
    left: 0%;
    right: 0%;
    width: 75%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: white;
    margin: auto;
    z-index: 100;
    box-shadow: 0px -3px 5px rgba(138, 138, 138, 0.0039215686);
  }
  .rooms__slider {
    background-color: #e0e0df;
    width: 100%;
    height: 300px;
  }
  .rooms__slider img {
    position: absolute;
    max-width: 320px;
  }
  .rooms__slider--left {
    top: 350px;
    left: 0%;
  }
  .rooms__slider--right {
    top: 350px;
    left: 90%;
  }
  .rooms__slider-photocontent {
    width: 100%;
  }
  .minimal {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .minimal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 0%;
    right: 0%;
    width: 85%;
    background-color: white;
    margin: auto;
    max-width: 320px;
  }
  .minimal__txt {
    margin: 5% 0% 5% 0%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .minimal__txt h1 {
    font-size: 25px;
  }
  .minimal__txt h3 {
    font-size: smaller;
    font-weight: lighter;
    width: 70%;
    text-align: center;
  }
  .minimal__price {
    font-family: "Archivo", Arial;
    color: #bead8e;
  }
  .minimal__price--value {
    font-size: 43px;
  }
}
@media screen and (min-width: 1000px) {
  .rooms {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .rooms__content {
    max-width: 1024px;
    position: relative;
  }
  .rooms__title {
    text-align: center;
    width: 100%;
    margin: 45px 0px;
    font-family: "Archivo", Arial;
    color: #bead8e;
  }
  .rooms__title--subtitle {
    width: 100%;
    color: black;
  }
  .rooms__title--subtitle h1 {
    font-size: 45px;
    font-weight: lighter;
  }
  .rooms__icons {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 380px;
    width: 250px;
  }
  .rooms__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 300px;
    background-color: transparent;
  }
  .rooms__slider--left {
    position: absolute;
    z-index: 200;
    left: 155px;
    top: 300px;
  }
  .rooms__slider--right {
    position: absolute;
    z-index: 200;
    left: 823px;
    top: 300px;
  }
  .rooms__slider img {
    width: 45px;
  }
  .rooms__slider div {
    min-width: 500px;
    margin: 0px 15px;
    background-color: #e0e0df;
  }
  .minimal {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .minimal__content {
    max-width: 1024px;
    width: 350px;
    position: absolute;
    bottom: -2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 15px 0px 15px;
    align-items: center;
    background-color: white;
  }
  .minimal__txt {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
  }
  .minimal__txt h1,
  .minimal__txt h3 {
    width: 100%;
    text-align: left;
  }
  .minimal__txt h3 {
    font-size: small;
    font-weight: lighter;
    width: 80%;
  }
  .minimal__price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .minimal__price--value {
    font-size: 20px;
  }
  .minimal__price--night {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .introvideo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222222;
  }
  .introvideo__button-desktop {
    display: none;
  }
  .introvideo__content {
    margin: auto;
    max-width: 320px;
  }
  .introvideo__title {
    padding-top: 10%;
    color: #bdac8d;
  }
  .introvideo__title h3 {
    letter-spacing: 1px;
  }
  .introvideo__subtitle {
    padding-top: 10%;
    color: white;
  }
  .introvideo__subtitle h1 {
    font-weight: lighter;
    font-family: "Old Standard TT", Arial;
    font-size: 60px;
  }
  .introvideo__paragraph {
    padding-top: 10%;
    color: #777777;
  }
  .introvideo__paragraph p {
    text-align: justify;
    font-family: "Roboto", Arial;
  }
  .introvideo__video {
    padding-top: 15%;
  }
  .introvideo__video iframe {
    max-width: 320px;
    top: 0;
    left: 0;
    width: 320px;
    height: 270px;
    border: none;
  }
}
/************** DESKTOP ************/
@media screen and (min-width: 1000px) {
  .introvideo {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    background-color: #222222;
  }
  .introvideo__content {
    max-width: 1024px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    left: 15%;
    color: white;
  }
  .introvideo__content h1 {
    font-size: 55px;
    font-weight: lighter;
    width: 400px;
    margin-bottom: 45px;
  }
  .introvideo__title {
    color: #bdac8d;
    margin-bottom: 25px;
  }
  .introvideo__title h3 {
    letter-spacing: 2px;
    font-family: "Archivo", Arial;
  }
  .introvideo__paragraph {
    padding-right: 100px;
  }
  .introvideo__paragraph p {
    font-size: small;
    font-weight: lighter;
  }
  .introvideo__button {
    display: none;
  }
  .introvideo__back {
    min-width: 400px;
    background-color: #bead8e;
  }
  .introvideo__video {
    padding-top: 0%;
    max-width: none;
  }
  .introvideo__video iframe {
    max-width: none;
    width: 570px;
    height: 460px;
  }
}
@media screen and (max-width: 1000px) {
  .facilities {
    width: 100%;
  }
  .facilities__content {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .facilities__content-cardmobile {
    display: block;
  }
  .facilities__content-card {
    display: none;
  }
  .facilities__title {
    color: #777777;
    padding-top: 10%;
  }
  .facilities__title h3 {
    letter-spacing: 1px;
    font-family: "Archivo", Arial;
  }
  .facilities__subtitle {
    width: 100%;
    padding-top: 10%;
    text-align: left;
  }
  .facilities__subtitle h1 {
    font-weight: lighter;
    font-size: 50px;
    font-family: "Old Standard TT", Arial;
  }
  .facilities__iconos {
    padding-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .facilities__iconos #img1 {
    width: 50px;
    height: 50px;
  }
  .facilities__subsubtitle {
    width: 100%;
    padding-top: 10%;
    text-align: left;
  }
  .facilities__subsubtitle h1 {
    font-weight: lighter;
    font-family: "Old Standard TT", Arial;
  }
  .facilities__paragraph {
    width: 100%;
    padding-top: 10%;
    color: #777777;
    text-align: left;
  }
  .facilities__paragraph p {
    font-weight: lighter;
    font-family: "Roboto", Arial;
  }
  .facilities__pagination {
    padding-top: 7%;
  }
}
@media screen and (min-width: 1000px) {
  .facilities {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .facilities__content {
    max-width: 1024px;
    width: 100%;
  }
  .facilities__content-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
  }
  .facilities__content-cardmobile {
    padding-left: 25px;
    height: 300px;
    width: 100%;
  }
  .facilities__content-cardmobile p {
    max-width: 250px;
  }
  .facilities__content-card {
    height: 300px;
    padding-left: 25px;
    width: 100%;
    display: block;
  }
  .facilities__content-card p {
    max-width: 250px;
  }
  .facilities__title {
    margin: 55px;
    text-align: center;
  }
  .facilities__subtitle {
    padding-top: 20px;
    margin-bottom: 70px;
    text-align: center;
  }
  .facilities__subtitle h1 {
    font-size: 75px;
    font-weight: lighter;
  }
  .facilities__pagination {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    width: 100%;
    align-items: center;
  }
  .menu__content {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
  }
  .menu__icono {
    width: 100%;
    margin-top: 10%;
    width: 100%;
    display: inline-flex;
    justify-content: right;
  }
  .menu__icono__desktop {
    display: none;
  }
  .menu__title {
    margin-top: 10%;
  }
  .menu__title h3 {
    letter-spacing: 1px;
    color: #777777;
  }
  .menu__submenu {
    margin-top: 10%;
  }
  .menu__submenu h1 {
    font-family: "Old Standard TT", Arial;
    font-size: 60px;
    font-weight: lighter;
  }
  .menuslider {
    margin-top: 25px;
  }
  .menuslider__data {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  .menuslider__data--photo {
    margin-right: 25px;
  }
  .menuslider__data--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menuslider__data--title h1 {
    font-family: "Old Standard TT", Arial;
  }
  .menuslider__data--description p {
    font-size: small;
    font-family: "Roboto", Arial;
  }
  .menuslider__data__cards-right {
    display: none;
  }
  .menuslider__buttons {
    display: inline-flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1000px) {
  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .menu__content {
    max-width: 1024px;
    width: 100%;
  }
  .menu__title {
    margin-bottom: 55px;
    text-align: left;
  }
  .menu__submenu {
    margin-bottom: 55px;
    text-align: left;
  }
  .menu__submenu h1 {
    font-size: 75px;
    font-weight: lighter;
  }
  .menuslider__data {
    display: flex;
  }
  .menuslider__data__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menuslider__data__cards-left {
    display: flex;
    flex-direction: column;
  }
  .menuslider__data__cards-right {
    display: flex;
    flex-direction: column;
  }
  .menu__icono {
    display: none;
  }
  .menu__icono__desktop {
    position: absolute;
    display: block;
    left: 0;
    top: -120px;
  }
  .menu__icono__desktop img {
    width: 150px;
  }
  .menuslider__buttons {
    width: 100%;
    max-width: 1024px;
    position: absolute;
    display: block;
    bottom: 400px;
    text-align: right;
  }
  .menuslider__buttons img {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .slider {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25px;
  }
  .slider__content {
    max-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slider__content-desktop {
    display: none;
  }
  .slider__content #buttons {
    margin-top: 10%;
    width: fit-content;
    width: -moz-fit-content;
  }
}
@media screen and (min-width: 1000px) {
  .slider {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slider__content {
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 1024px;
  }
  .slider__content #buttons {
    display: none;
  }
  .slider__content img {
    width: 300px;
  }
  .slider__content-desktop {
    display: block;
  }
  .slider__content-desktop #image {
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .statistics {
    display: flex;
    width: 100%;
    background-color: #222222;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 25px;
  }
  .statistics__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 320px;
  }
  .statistics__content img {
    width: fit-content;
    width: -moz-fit-content;
  }
  .statistics__content p {
    color: #777777;
  }
  .statistics__content--qtty {
    margin-top: 25px;
    font-family: "Roboto", Arial;
    color: white;
  }
  .statistics__content--qtty #qtty {
    font-size: xxx-large;
    font-weight: bold;
  }
  .statistic__content {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1000px) {
  .statistics {
    width: 100%;
    padding: 75px 75px;
    display: flex;
    justify-content: center;
  }
  .statistics__section {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    padding: 75px;
  }
  .statistics__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }
  .statistics__content--qtty {
    font-family: "Archivo", Arial;
    font-size: 45px;
    font-weight: bolder;
  }
  .statistics__content p {
    font-weight: lighter;
    font-size: small;
  }
  .statistic__content {
    color: white;
    text-align: center;
    margin: 0;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .statistic__content img {
    margin-bottom: 25px;
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
