@media only screen and (min-width: 1000px) {

.room{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.room__content{
    margin-top: 75px;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}    

.room__content__card{
    &-title{
        text-align: center;
    }
    &-subtitle{
        text-align: center;
    }
    span{
        text-align: center;
    }
}


.pagination{
    text-align: center;
    min-width:100%;
    margin: 75px 0px 75px 0px;
}



}