@media screen and (max-width: 1000px) {
  body {
    font-family: $primary-font;

    h2 {
      font-family: $primary-font;
    }
    h1 {
      font-family: $secondary-font;
    }
    h3 {
      font-family: $third-font;
    }
  }

  .header {
    width: 100%;
    background-color: #333333;
    height: 265px;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 320px;
    height: 100%;
    margin: auto;
  }

  .header__title {
    color: white;
    margin-bottom: 25px;
    h2 {
      letter-spacing: 1px;
      font-size: small;
      font-family: $primary-font;
    }
  }

  .header__subtitle {
    margin-bottom: 55px;
    color: white;
    h1 {
      font-size: 56px;
      font-weight: lighter;
      font-family: $secondary-font;
    }
  }

  .header__titledescription {
    display: flex;
    justify-content: right;
    font-size: smaller;
    font-family: $third-font;
    color: black;
    &-box {
      display: flex;
      padding: 0px 15px;
      height: 35px;
      background-color: white;
      align-items: center;
    }
    &-color {
      color: #bead8e;
    }
  }

  .video {
    width: 100%;
  }
  .video__content {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
  }
  .video__description {
    margin-top: 25px;
    text-align: center;
  }

  .services {
    width: 100%;
  }
  .services__content {
    max-width: 320px;
    margin: auto;
    margin-top: 55px;
  }

  .restaurant {
    width: 100%;
  }
  .restaurant__content {
    max-width: 320px;
    margin: auto;
  }

  .restaurant__title {
    margin: 25px 0px;
    color: #777777;
    h2 {
      letter-spacing: 1px;
      font-size: small;
      font-family: $primary-font;
    }
  }
  .restaurant__subtitle {
    margin: 25px 0px;
    color: #222222;
    h1 {
      font-size: 35px;
      font-family: $secondary-font;
    }
  }

  .restaurant__description {
    margin: 25px 0px;
    color: #777777;
    h3 {
      font-size: small;
    }
  }
  .banner__button {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .facilities {
    background-color: #222222;
    width: 100%;
    height: 614px;
  }
  .facilities__content {
    max-width: 320px;
    margin: auto;
  }
  .facilities__subtitle {
    color: #ffffff;
  }

  .facilities__description {
    background-color: #292929;
    width: 100%;
    height: 370px;
    &-image1 {
      padding: 15px;
      width: 100px;
      height: 100px;
      margin-bottom: 5px;
    }
    &-image2 {
      padding: 15px;
      width: 173px;
      height: 120px;
    }
    &-title1 {
      margin: 25px 0px;
      h1 {
        font-weight: lighter;
        color: white;
      }
    }
    &-txt {
      text-align: left;
      h3 {
        color: white;
        font-size: small;
        font-weight: lighter;
      }
    }
  }
  .facilities__description-images {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .facilities__description-image1content {
    display: flex;
    align-items: flex-end;
    min-height: 100%;
  }

  .facilities__description-bottomcontent {
    margin: 15px;

    text-align: left;
  }

  .facilities__frame {
    margin-top: 25px;
  }

  .counter {
    width: 100%;
  }
  .counter__content {
    max-width: 320px;
    margin: auto;
    &-title{
      color: #777777;
      margin: 25px 0px;
      h2{
        letter-spacing: 1px;
        font-size: medium;
      }
    }
    &-subtitle{
      margin: 35px 0px;
      h1{
        font-size: 55px;
        font-weight: lighter;
      }
    }
  }
  .counter__contentnumbers-order{
    margin: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1{
      font-size: 50px;
      font-weight: lighter;
    }
    h3{
      font-size: small;
      color: #777777;
    }

  }
  .counter__content-imagebottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      margin: 15px 0px;
    }
  }
  
}
