// _mobile.scss

@media screen and (max-width: 1000px) {
  body {
    font-family: $primary-font;
  }

  .navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    max-width: 320px;
    align-items: center;
  }
  .navbar__content {
    max-width: 320px;

    width: 90%;
    margin: auto;
    &-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .navbar__toggle {
    width: 15%;
    font-size: 25px;
    // margin: 10px 0px 10px 25px;
    &--user {
      font-size: 25px;
      margin: auto;
    }
    &--search {
      font-size: 25px;
    }
  }

  .navbar__title {
    width: 35%;
    margin: 10px;
    &--strong {
      font-weight: bolder;
      letter-spacing: 1px;
    }
    &--thin {
      letter-spacing: 2px;
      font-weight: lighter;
    }
  }

  .navbar__square {
    width: 15%;

    &--figure {
      display: flex;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 0px 14px 8px #f0eeee;
    }
  }

  .navbar__usersearch {
    width: 35%;
    display: flex;

    justify-content: flex-end;
  }

  .navbar__letter {
    font-weight: bold;
  }

  .navbar__nav {
    display: none;
  }

  h1 {
    font-family: $primary-font;
    font-size: 24px;
  }
  h2 {
    font-family: $secondary-font;
  }
}

.banner {
  width: 100%;
  background-color: #333333;
}

.banner__content {
  width: 90%;
  margin: auto;
  max-width: 320px;
  padding: 35px 0px 35px 0px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
}

.banner__title {
  width: 60%;
  margin: 25px 0px 25px 0px;
  &--ppal {
    letter-spacing: 1px;
    margin: 15% 0% 15% 0%;
  }
}

.banner__subtitle {
  font-size: 50px;
  font-family: $secondary-font;
  &--txt {
    margin: auto;
  }
}

.banner__button {
  color: #ffffff;
  background-color: #bead8e;
  width: 217px;
  height: 60px;
  margin: 10px 0px 10px 0px;
  &--lm {
    background-color: transparent;
    border: solid 1px #ffffff54;
  }
  &--ca {
    margin-top: 35px;
    border: none;
  }
}

.dates {
  background-color: #222222;
  width: 100%;

  input {
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bead8e;
    color: #9c9b9a;
  }
}
.dates__content {
  width: 90%;
  max-width: 320px;
  margin: auto;
  padding: 25px 0px 35px 0px;
  font-family: $third-font;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  &-arrival{
    margin-right: 25px;
    width: 50%;
  }
  &-departure{
    width: 50%;
    margin-top: 25px;
  }
 input{
  margin-top: 25px;
  width: 100%;
 }
}

.dates__txt {
  margin: 15px 0px 15px 0px;
}

.about {
  position: relative;
  margin-top: 45px;
  width: 100%;
  height: 600px;
  padding-top: 25px;
  background-color: #f9f9f9;
}

.about__content {
  width: 90%;
  margin: auto;
  max-width: 320px;
  p {
    font-size: small;
    font-weight: lighter;
    color: #777777;
  }
}

.strongteam {
  width: 100%;
}

.strongteam__content {
  position: relative;
  top: -50px;
  left: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  max-width: 320px;
  p {
    font-size: small;
    font-weight: lighter;
    color: #777777;
  }
}

.strongteam__box1 {
  background-color: #E4E4E4;
  height: 300px;
  width: -webkit-fill-available;
}
.strongteam__box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 25% 0%;

  &--imgcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 40px;
      margin: 0% 0% 20% 0%;
    }
    span {
      font-family: $secondary-font;
      font-size: 25px;
    }
  }
  &--txtcontent {
    text-align: center;
    margin: 10% 25% 0% 25%;
  }
  &--contentblk {
    background-color: #222222;
    color: white;
    padding: 25% 0%;
  }
}

.rooms {
  width: 100%;
  height: 800px;

  h1 {
    font-family: $secondary-font;
    font-size: 45px;
    font-weight: lighter;
  }
  h3 {
    color: #777777;
    letter-spacing: 1px;
    font-family: $primary-font;
  }
}

.rooms__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}

.rooms__title {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15% 0% 5% 0%;
  &--subtitle {
    margin-top: 7%;
    margin-bottom: 7%;
  }
}

.rooms__icons {
  position: absolute;
  top: 260px;
  left: 0%;
  right: 0%;
  width: 75%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: white;
  margin: auto;

  box-shadow: 0px -3px 5px #8a8a8a01;
}

.rooms__slider {
  background-color: #e0e0df;
  width: 100%;
  height: 300px;
  img {
    position: absolute;
  }
  &--left {
    top: 400px;
    left: 0%;
  }
  &--right {
    top: 400px;
    left: 92%;
  }
}

.minimal {
  position: relative;
  width: 100%;
  height: 200px;
}

.minimal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
  left: 0%;
  right: 0%;
  width: 85%;
  background-color: white;
  margin: auto;
  max-width: 320px;
}

.minimal__txt {
  margin: 5% 0% 5% 0%;
  display: flex;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: smaller;
    font-weight: lighter;
    width: 70%;
    text-align: center;
  }
}

.minimal__price {
  font-family: $primary-font;
  color: #bead8e;
  &--value {
    font-size: 43px;
  }
}

.introvideo {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #222222;
}
.introvideo__content {
  margin: auto;
  max-width: 320px;
}
.introvideo__title {
  padding-top: 10%;

  color: #bdac8d;
  h3 {
    letter-spacing: 1px;
  }
}

.introvideo__subtitle {
  padding-top: 10%;
  color: white;
  h1 {
    font-weight: lighter;
    font-family: $secondary-font;
    font-size: 60px;
  }
}

.introvideo__paragraph {
  padding-top: 10%;
  color: #777777;
  p {
    text-align: justify;
    font-family: $third-font;
  }
}

.introvideo__video {
  padding-top: 15%;
}

.facilities {
  width: 100%;
}
.facilities__content {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.facilities__title {
  color: #777777;
  padding-top: 10%;
  h3 {
    letter-spacing: 1px;
    font-family: $primary-font;
  }
}

.facilities__subtitle {
  width: 100%;
  padding-top: 10%;
  text-align: left;
  h1 {
    font-weight: lighter;
    font-size: 50px;
    font-family: $secondary-font;
  }
}

.facilities__iconos {
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  #img1 {
    width: 50px;
    height: 50px;
  }
}

.facilities__subsubtitle {
  width: 100%;
  padding-top: 10%;
  text-align: left;
  h1 {
    font-weight: lighter;
    font-family: $secondary-font;
  }
}

.facilities__paragraph {
  width: 100%;
  padding-top: 10%;
  color: #777777;
  text-align: left;
  p {
    font-weight: lighter;
    font-family: $third-font;
  }
}

.facilities__pagination {
  padding-top: 7%;
}

.menu {
  width: 100%;
  align-items: center;
}
.menu__content {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}
.menu__icono {
  width: 100%;

  margin-top: 10%;
  width: 100%;
  display: inline-flex;
  justify-content: right;
}

.menu__title {
  margin-top: 10%;
  h3 {
    letter-spacing: 1px;
    color: #777777;
  }
}
.menu__submenu {
  margin-top: 10%;
  h1 {
    font-family: $secondary-font;
    font-size: 60px;
    font-weight: lighter;
  }
}

.menuslider {
  margin-top: 25px;
}

.menuslider__data {
  display: inline-flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  &--photo {
    margin-right: 25px;
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--title {
    h1 {
      font-family: $secondary-font;
    }
  }
  &--description {
    p {
      font-size: small;
      font-family: $third-font;
    }
  }
}

.menuslider__buttons {
  display: inline-flex;
  justify-content: flex-end;
}

.slider {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 25px;
}
.slider__content {
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #buttons {
    margin-top: 10%;
    width: fit-content;
    width: -moz-fit-content;
  }
}

.statistics {
  display: flex;
  width: 100%;
  background-color: #222222;
  align-items: center;
  margin-top: 25px;
  padding: 25px;
}
.statistics__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 320px;

  img {
    width: fit-content;
    width: -moz-fit-content;
  }
  p {
    color: #777777;
  }
  &--qtty {
    margin-top: 25px;
    font-family: $third-font;
    color: white;
    #qtty {
      font-size: xxx-large;
      font-weight: bold;
    }
  }
}
.statistic__content {
  margin-top: 35px;
}

.footer {
  width: 100%;
  align-items: center;
}

.footer__content {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  max-width: 320px;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: row;

  &--figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bead8e;
    width: 60px;
    height: 60px;
  }
}

.footer__uppertext {
  color: #777777;
  margin-top: 17px;
  margin-bottom: 17px;
  text-align: justify;
  p {
    font-size: small;
    font-family: $third-font;
  }
}

.footer__redes {
  display: flex;
  flex-direction: row;

  &--link {
    text-decoration: none;
    color: #777777;
    margin-right: 25px;
  }
}

.footer__redes--back {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  background-color: #bead8e;
}
.footer__redes--twitter {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #bead8e;
}

.footer__services {
  margin-top: 25px;
  &--title {
    font-family: $secondary-font;
  }
  &--list {
    display: inline-flex;
    #list2 {
      margin-left: 35px;
    }
  }
  &--list ul {
    list-style: none;
    padding: 0;
    font-family: $third-font;
    font-weight: lighter;
    font-size: small;
  }
  &--list ul li::before {
    content: "+ ";
  }
  &--list li {
    margin-top: 25px;
  }
}

.footer__contactus {
  margin-top: 25px;

  &--title {
    h1 {
      font-family: $secondary-font;
      font-weight: lighter;
    }
  }
  &--card {
    display: inline-flex;
    align-items: center;
  }
  &--icon {
    color: #bead8e;
  }

  &--description {
    margin: 25px 0px 25px 25px;
    h1 {
      font-family: $secondary-font;
      font-weight: lighter;
    }
    h3 {
      font-family: $third-font;
      font-size: small;
      color: #777777;
    }
  }
}

.footer__copyright {
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;

  align-items: center;

  &--content {
    max-width: 320px;
    width: 100%;
    margin: auto;
    align-items: center;
    #margin {
      margin-bottom: 25px;
    }
    h3 {
      font-size: small;
    }
  }
}
