

$primary-font: 'Archivo', Arial;
$secondary-font: 'Old Standard TT', Arial;
$third-font:'Roboto', Arial;
$primary-color: #007bff;
$secondary-color: #6c757d;
$third-color: #BEAD8E;
$fourth-color: #BDBDBD;